body{
    
    margin:0;
    padding:0;
    font-family: sans-serif;
 
}

header{
    position: fixed;
    text-align: center;
    width:100%;
    top:0;
    box-shadow: 0px 0px 15px black;
    background-color:whitesmoke;
    color:black;
}





nav ul li{
    display:inline-block;
    background-color:black;
    padding:3px 10px;
    border-radius:4px;
    border:1px solid black;
}

nav a {
    text-decoration: none;
    color:white;
}

nav a:hover{
    color:black;
}






